<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DOSFileType</key>
		<integer>66</integer>
		<key>Filename</key>
		<string>CHKCTRLS.S</string>
		<key>MacFormat</key>
		<integer>0</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>66</integer>
		<key>Filename</key>
		<string>CLOSEWDW.S</string>
		<key>MacFormat</key>
		<integer>0</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>66</integer>
		<key>Filename</key>
		<string>CURSOR.S</string>
		<key>MacFormat</key>
		<integer>0</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>66</integer>
		<key>Filename</key>
		<string>DOMOUSE.S</string>
		<key>MacFormat</key>
		<integer>0</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>66</integer>
		<key>Filename</key>
		<string>DRAWRECT.S</string>
		<key>MacFormat</key>
		<integer>0</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>66</integer>
		<key>Filename</key>
		<string>EQU.MLI.S</string>
		<key>MacFormat</key>
		<integer>0</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>66</integer>
		<key>Filename</key>
		<string>EQU.MTW.S</string>
		<key>MacFormat</key>
		<integer>0</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>66</integer>
		<key>Filename</key>
		<string>GLOBALPAGE.S</string>
		<key>MacFormat</key>
		<integer>0</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>66</integer>
		<key>Filename</key>
		<string>MATH1.S</string>
		<key>MacFormat</key>
		<integer>0</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>66</integer>
		<key>Filename</key>
		<string>MATH2.S</string>
		<key>MacFormat</key>
		<integer>0</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>66</integer>
		<key>Filename</key>
		<string>MATHHDLR.S</string>
		<key>MacFormat</key>
		<integer>0</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>66</integer>
		<key>Filename</key>
		<string>MOVERECT.S</string>
		<key>MacFormat</key>
		<integer>0</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>66</integer>
		<key>Filename</key>
		<string>MSTROUT.S</string>
		<key>MacFormat</key>
		<integer>0</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>84</integer>
		<key>Filename</key>
		<string>T.EQU.MLI</string>
		<key>MacFormat</key>
		<integer>1</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>84</integer>
		<key>Filename</key>
		<string>T.EQU.MTW</string>
		<key>MacFormat</key>
		<integer>1</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>84</integer>
		<key>Filename</key>
		<string>T.MATH1</string>
		<key>MacFormat</key>
		<integer>1</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
</array>
</plist>
